<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Premium Car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section>
<header>

</header>
<div id="premium-car-list">
    <form v-on:submit.prevent="addNewCar">
    <label for="new-car">Add a premium car</label>
        <fieldset>
            <input
            v-model="newBrand"
            id="new-car"
            placeholder="Brand Name"
            >
            <label for="new-car-name"></label><input
                v-model="newName"
                id="new-car-name"
                placeholder="Car Name"
            >
            <label for="new-car-style"></label><input
                v-model="newStyle"
                id="new-car-style"
                placeholder="Car Style"
            >
            <label for="new-car-price"></label><input
                v-model="newPrice"
                id="new-car-price"
                placeholder="Price"
            >
    <button>Add</button>
        </fieldset>
    </form>
    <ul>
        <li
                is="premium-car"
                v-for="(car, index) in cars"
                v-bind:key="car.id"
                v-bind:cars="car.brand + ' ' + car.name + ',  ' + car.style + ', ' + car.price + ' kr'"
                v-on:remove="cars.splice(index, 1)"
        ></li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    Vue.component('premium-car', {
        template: `
          <fieldset>
    <li>
      {{ cars }}
      <button v-on:click="$emit('remove')">Delete</button>
    </li>
          </fieldset>
  `,
        props: ['cars']
    })
    new Vue({
        el: '#premium-car-list',
        data: {
            newBrand: '',
            newName: '',
            newStyle: '',
            newPrice: '',
            cars: [
                {
                    id: 1,
                    brand: 'Bugatti',
                    name: 'Chiron Sport',
                    style: '2-door Coupe',
                    price: 42000000,
                },
                {
                    id: 2,
                    brand: 'Aston Martin',
                    name: 'DBX 1913',
                    style: '5-door SUV',
                    price: 2249000
                },
                {
                    id: 3,
                    brand: 'Bentley',
                    name: 'Flying Spur',
                    style: '4-door Saloon',
                    price: 3050000
                }
            ],
            nextCarId: 4
        },
        methods: {
            addNewCar: function (){
                this.cars.push({
                    id: this.nextCarId++,
                    brand: this.newBrand,
                    name: this.newName,
                    style: this.newStyle,
                    price: this.newPrice
                })
                this.newBrand = ''
                this.newName = ''
                this.newStyle = ''
                this.newPrice = ''
            }
        }
    })
</script>
    <footer>

    </footer>
</section>
</body>
</html>